/* 
Theme: Prussian
  bg_color: #272822,
  txt_color_1: #bddfff,
  txt_color_2: #6e93b5,
  txt_color_3: #38a0ff
*/
:root{
  --bg-primary: #172f45;
  --bg-secondary: #23496b;
  --bg-tertiary: #306391;
  --txt-primary: #bddfff;
  --txt-secondary: #6e93b5;
  --txt-tertiary: #84CAE7;
  --alt-b-jean: #38a0ff;
  --alt-c-green: #22AAA1;
  --alt-turquoise: #74E7DB;
  --alt-magic-mint: #B2EDC5;
  --alt-opal: #9DC0BC;
  --alt-aero-blue: #BAFFDF;
  --grey-middle: #8A817C;
  --grey-silver: #BCB8B1;
  --grey-isabelline: #F4F3EE;
  --accent-tangerine: #F7A072;
  --accent-l-green: #9CE37D;
  --accent-asparagus: #87B37A;
}

@keyframes fadein {
  from {opacity: 0;}
  to {opacity: 1;}
}

body {
  background-color: var(--bg-primary);
  color: var(--txt-secondary);
}

a {
  color: var(--grey-isabelline);
}

.content {
  animation: 0.5s fadein;
}

/* Menu */
.menu-item {
  display: inline;
  font-size: large;
  padding: 10px;
  color: var(--grey-isabelline);
  transition-property: color;
  transition-duration: 30ms;
  transition-delay: 15ms;
}

.menu-item:hover {
  color: var(--accent-tangerine);
}

.menu-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-color: var(--bg-tertiary);
  border-bottom: solid;
  border-width: 1px;
  z-index: 0;
}

/* Mouse Glow */
.glow {
  border-radius: 25px;
  width: 200px;
  height: 200px;
  background-image: radial-gradient(#f5f5f515, #f5f5f507, transparent, transparent);
  position: absolute;
  top: 0;
  left: 0;
  transition: transform 50ms;
  pointer-events: none;
  z-index: 5;
}

/* Homepage */
.opening {
  color: var(--txt-primary);
  font-size: 69px;
  margin-bottom: 10%;
  transition-property: font-size;
  transition-duration: 180ms;
  transition-delay: 12ms;
  z-index: 1;
}

.opening:hover {
  font-size: 75px;
}

.tagline {
  color: var(--txt-tertiary);
  margin-bottom: 10%;
  transition-property: font-size margin;
  transition-duration: 200s;
  transition-delay: 1ms;
  z-index: 1;
}

.tagline:hover {
  font-size: 900px;
  margin: 0%;
}

.language-icon {
  padding-right: 4px;
  padding-left: 4px;
}

.languages {
  margin-top: 12px;
  margin-bottom: 12px;
  align-items: center;
}

/* Resume */
.resume {
  margin: 3%;
  z-index: 1;
}

.resume-header, .resume h3 {
  color: var(--txt-primary);
}

.edu-summary {
  color: var(--alt-opal);
  margin-left: 5%;
  margin-right: 10%;
}

#skills {
  color: var(--alt-aero-blue);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: minmax(70px, auto);
}

.resume h1 {
  color: var(--alt-aero-blue);
}

.resume h2 {
  color: var(--alt-magic-mint);
}

.resume li {
  color: var(--txt-tertiary);
}

.resume h4 {
  color: var(--alt-opal);
}