/* 
Theme: Prussian
  bg_color: #272822,
  txt_color_1: #bddfff,
  txt_color_2: #6e93b5,
  txt_color_3: #38a0ff
*/
:root{
  --bg-primary: #172f45;
  --bg-secondary: #23496b;
  --bg-tertiary: #306391;
  --txt-primary: #bddfff;
  --txt-secondary: #6e93b5;
  --txt-tertiary: #38a0ff;
}

@keyframes fadein {
  from {opacity: 0;}
  to {opacity: 1;}
}

body {
  animation: 0.5s fadein;
  background-color: var(--bg-primary);
  color: var(--txt-secondary);
}

.opening {
  color: var(--txt-primary);
}

.menu {
  background-color: var(--bg-secondary);
  border-bottom: var(--bg-tertiary), solid;
}

.menu li {
  display: inline;
}

.menu-item {
  font-size: large;
  padding: 10px;
  color: var(--txt-tertiary);
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}