/* 
Theme: Prussian
  bg_color: #272822,
  txt_color_1: #bddfff,
  txt_color_2: #6e93b5,
  txt_color_3: #38a0ff
*/
:root{
  --bg-primary: #172f45;
  --bg-secondary: #23496b;
  --bg-tertiary: #306391;
  --txt-primary: #bddfff;
  --txt-secondary: #6e93b5;
  --txt-tertiary: #84CAE7;
  --alt-b-jean: #38a0ff;
  --alt-c-green: #22AAA1;
  --alt-turquoise: #74E7DB;
  --alt-magic-mint: #B2EDC5;
  --alt-opal: #9DC0BC;
  --alt-aero-blue: #BAFFDF;
  --grey-middle: #8A817C;
  --grey-silver: #BCB8B1;
  --grey-isabelline: #F4F3EE;
  --accent-tangerine: #F7A072;
  --accent-l-green: #9CE37D;
  --accent-asparagus: #87B37A;
}

@keyframes fadein {
  from {opacity: 0;}
  to {opacity: 1;}
}

body {
  animation: 0.5s fadein;
  background-color: var(--bg-primary);
  color: var(--txt-secondary);
}

a {
  color: var(--grey-isabelline);
}

/* Menu */
.menu-item {
  display: inline;
  font-size: large;
  padding: 10px;
  color: var(--grey-isabelline);
}

.menu-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-color: var(--bg-tertiary);
  border-bottom: solid;
  border-width: 1px;
}

/* Homepage */
.opening {
  color: var(--txt-primary);
  font-size: 69px;
  margin-bottom: 12%;
}

.tagline {
  color: var(--txt-tertiary);
  padding-bottom: 12%;
}

.language-icon {
  padding-right: 4px;
  padding-left: 4px;
}

.languages {
  margin-top: 12px;
  margin-bottom: 12px;
  align-items: center;
}

/* Resume */
.resume {
  margin: 3%;
}

.resume-header, .resume h3 {
  color: var(--txt-primary);
}

.edu-summary {
  color: var(--alt-opal);
  margin-left: 5%;
  margin-right: 10%;
}

#skills {
  color: var(--alt-aero-blue);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: minmax(70px, auto);
}

.resume h1 {
  color: var(--alt-aero-blue);
}

.resume h2 {
  color: var(--alt-magic-mint);
}

.resume li {
  color: var(--txt-tertiary);
}

.resume h4 {
  color: var(--alt-opal);
}